
<section class="content">
	<div class="container">
		<div class="row">
				<div class="col-xs-6">
					Deji University of Technology (DEJTECH) offers academic opportunities in technological oriented fields. Academic programmes offered by the university span different fields of specialization including Engineering, Pure and Applied sciences, health sciences and environmental sciences. The university also has a modern library that is fully computerized. With these facilities DEETECH is about the best choice for research-oriented individuals and even the industry-focused ones.
				</div>

				<div class="col-xs-6">
					<span style="color:#ff3366"> <strong> STUDENT PORTAL</strong></span><br>
					
						<span>
							<strong> <a href="#"> PREDEGREE - STUDENT</a></strong> <br>
							<strong> <a href="#"> UNDERGRADUATE </a></strong> <br>
							<strong> <a href="#"> PART-TIME PORTAL </a></strong> <br>
							<strong> <a href="#"> POSTGRADUATE PORTAL </a></strong> <br>
						</span> 
					
					
				</div>
		</div>

 		<span id="here">Please complete your registration <a href="register" style="font-size:18px"> here...</a></span>

	</div>
	
</section>
	