<!DOCTYPE html>
<html lang="en">

	<!-- head -->

	<% include ../partials/header %>


<body>

<!-- contact content -->

	<div class="container">
		<div class="row" id="contact">
			<div class="col-xs-6">
				<i style="color:blue">ADDRESS</i><br>
				Opp.4E Mall, Califonia, United State Of America.
				<img src="/public/rotate">
			</div>

			<div class="col-xs-6">
	   				<font color="#FFA500">TELEPHONE:</font><br/>
	   				<font color="black">+2348134453423  +2348035279390</font><br/><br/>

	   				<font color="purple">EMAIL:</font><br/>
	   				<font color="black">DEJTECH@yahoo.com</font><br/><br/>

	   				 <font color="black">STAY CONNECTED WITH US</font><br/>
	   				 	<a href="https://facebook.com/DEJTECHayodeji" style="color:blue">  Facebook</a> <br>
	   				 	<a href="https://instagram.com/DEJTECH"> Instagram </a> <br>
	   					<a href="https://twitter.com/DEJTECH"> Twitter </a> <br>
	   		</div>

		</div>
	</div>

<!-- nav -->
	<% include ../partials/nav %>

<!-- footer -->
	<% include ../partials/footer %>

<!-- scripts -->
	<% include ../partials/scripts %>
</body>
</html>