<!DOCTYPE html>
<html lang="en">

	<!-- head.ejs  -->

	<% include ../partials/header %>

<body>

<!-- nav -->

	<% include ../partials/nav %>

<!-- content -->

<section>
	<div class="container">
		<img src="/public/rotate.jpg"><br>

		
		
	</div>
	
</section>

<!-- body.ejs -->

<% include ../partials/body %>

<!-- scripts.ejs -->

<% include ../partials/footer %>


<!-- footer.ejs -->

<% include ../partials/scripts %>

</body>
</html>