

<!DOCTYPE html>
<html lang="en">



	<script type="text/javascript" src="/public/jquery.js"></script>

	
	<% include ../partials/header %>

<body>

<% include ../partials/nav %>



<div class="container">

	<div class="">
		<img style id="image"  src="/public/ct.jpg" class="img-responsive">

		

			<div id="over" class="">
				<form autocomplete="off"  method="post"  action="/list">
					
				
					<i style="color:#ff3366; font-size:20px; font-weight:bold;">Pls fill out this required fields.</i>

				<div class="row">
						<div class="col-xs-8"><br>
							<label for="First Name" class="control-label col-xs-3" style="color:#000; font-size:16px;">Name</label>
	        					<div class="col-xs-9">
	           						<input id="name" type="First Name"  class="form-control" placeholder="Name" name="name" value="">
	           						<div class="text-danger">
	           							
	           						</div>
								</div><br/><br/><br/>

							<label for="Last Name" class="control-label col-xs-3" style="color:#000; font-size:16px;">Matric No.</label>
								<div class="col-xs-9">
									<input id="matric_no" type="number"  class="form-control" placeholder="Matric No." name="matric_no" value>
								</div><br/><br/><br/>


							<label for="Level" class="control-label col-xs-3" style="color:#000; font-size:16px;">Level</label>
									<div class="col-xs-9">
									<input id="level" type="number" name="level"  class="form-control" placeholder="Level">
								</div><br/><br/><br>


							<label for="Gender" class="control-label col-xs-3" style="color:#000; font-size:16px;">Gender</label>
								<div class="col-xs-9">
									<input id="gender" type="text"  class="form-control" placeholder="Gender"  name="gender" value=>
						
								</div><br/><br/><br/>

							<label for="Date" class="control-label col-xs-3" style="color:#000; font-size:16px;">DOB</label>
								<div class="col-xs-9">
								<input id="dob" type="date" class="form-control" name="dob" value=>
															</div><br/><br/><br/>

							<label for="Email" class="control-label col-xs-3" style="color:#000; font-size:16px;">Email</label>
								<div class="col-xs-9">
									<input id="email" type="email" class="form-control" placeholder="Email" name="email" value=>

									<div class="text-danger">
	           							
	           						</div>

									<br/><br/>

									
									<input id="submit" type="submit" value="Register" class="btn btn-primary" name="">
									


								</div>
						</div>
					</form>
					</div>
			</div>
	</div>
</div>



<% include ../partials/footer %>

<% include ../partials/scripts %>



</body>



</html>